.App {
  text-align: center;
}
 body{
   background: #eee;
   font-family: sans-serif;
 }

 .row{
   display: flex;
   width:80%;
   margin: 0 auto;
   background: #fff;
   border-bottom: 0.25rem solid rgb(175, 71, 71);
 }

 .NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.NewRecovered,
.TotalRecovered{
  padding: 1.3rem;
  text-align: center;
  margin: auto;
}

.NewConfirmed{
  color: blue;
}
.TotalConfirmed{
  color: lightseagreen;
}

.NewDeaths{
  color: red;
}
.TotalDeaths{
  color: coral
}

.NewRecovered{
  color:rgba(23, 218, 23, 0.911)
}
.TotalRecovered{
  color:green
}

table{
  border-collapse: separate;
  width:80%;
  margin: 0 auto;
  border-spacing: 0 0.8rem;
}

table thead tr{
  background:#fff;
}

table thead tr th{
  padding:0.8rem;
  text-align: left;
}
table tbody tr{
  background: #fff;
}
table tbody tr td{
  padding: 0.8rem;
  text-align: left;
}

